@font-face{
	font-family: 'Gilroy-bold';
	src: url("../fonts/gilroy-bold.ttf");
}

@font-face{
	font-family: 'Gilroy-medium';
	src: url("../fonts/gilroy-medium.ttf");
}

body{
	font-family: "Gilroy-medium";
	margin-left: auto;
	margin-right: auto;
	width: 1360px;
}

header{
	margin-left: auto;
	margin-right: auto;
}

.menuHead{
	display: none;
}

.menuClose{
	display: none;
}

.listHead{
	display: block;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	display: flex;
	list-style: none;
	padding: 12px 1px 36px 1px;
	border-bottom: 2px solid #828282;
}

.listHead li{
	display: flex;
	padding: 0 105px 0 0;
}

.listHead li:nth-child(2){
	padding: 0 137px 0 0;
}

.listHead li:nth-child(3){
	padding-right: 98px;
}

.listHead li:nth-child(4){
	padding-right: 128px;
}

.listHead li a{
	text-decoration: none;
	color: #828282;
	width: 100px;
	transition-duration: 0.3s;
}

.listHead li a:hover{
	color: black;
}

main{
	text-align: center;
	width: 1360px;
}

.infoBlock{
	margin-left: auto;
	margin-right: auto;
}

.infoMe{
	padding-left: 208px;
	display: flex;
}

.infoMe h1{
	font-family: "Gilroy-bold";
	font-size: 47.3392px;
	line-height: 59px;
	margin-top: 10px;
}

.infoMe p{
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	margin-left: 670px;
	margin-top: 76px;
}

.infoBlock .wapHead{
	margin-top: 8px;
}

.infoBlock .mobileWap{
	display: none;
}

.aboutMe{
	margin-top: 100px;
	padding-top: 92px;
	margin-left: -100px;
	padding-left: 27px;
	height: 405px;
	width: 1505px;
	background: #F6F6F6;
}

.aboutMe h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
}

.aboutMe p{
	font-size: 18px;
	line-height: 22px;
	margin-left: auto;
	margin-right: auto;
	padding:0 1px 22px 0px;
}

.textMobile{
	display: none;
}

.textPc{
	display: block;
}

.textPc p:nth-child(1){
	width: 485px;
}

.textPc p:nth-child(2){
	width: 400px;
	padding:2px 0px 26px 0px;
}

.textPc p:nth-child(3){
	width: 320px;
	padding:0px 0px 26px 2px;
}

.skillBlock{
	margin-top: 94px;
}

.skillBlock h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

.skillBlock p{
	padding-top: 35px;
	font-size: 18px;
	line-height: 22px;
}

.tools{
	display: flex;
	margin-top: 50px;
	margin-left: 165px;
}

.tools div{
	padding: 36px 35px 0 65px;
}

.tools div p{
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-top: 18px;
}

.tools .stars{
	display: flex;
	width: 150px;
	margin: 0;
	margin-left: -21px;
	padding: 16px 0px 0 0px;
}

.tools .stars img{
	padding: 7px;
}

.tools div:nth-child(2){
	padding: 36px 67px 0 95px;
}

.tools div:nth-child(2) .stars{
	margin-left: -24px;
}

.tools div:nth-child(3) p{
	width: 80px;
}

.tools div:nth-child(3) .stars{
	margin-left: -25px;
}

.tools div:nth-child(4){
	margin-left: 35px;
}

.tools div:nth-child(4) .stars{
	margin-left: -29px;
	margin-top: 30px;
}


.workExamples{
	margin-top: 107px;
	width: 1545px;
	height: 2253px;
	margin-left: -50px;
	background: #f6f6f6;
	text-align: center;
}

.workExamples div{
	padding-top: 30px;
	margin-left: -80px;
}

.workExamples h1{
	padding-top: 108px;
	margin-left: -80px;
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

.workExamples p{
	padding: 20px;
	padding-top: 21px;
	padding-left: 24px;
	padding-bottom: 40px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	transition-duration: 0.3s;
}

.workExamples div:nth-child(3){
	padding-top: 45px;
}

.workExamples div:nth-child(3) p{
	padding-left: 26px;
	padding-top: 20px;
}

.workExamples div:nth-child(4){
	padding-top: 43px;
	margin-left: -89px;
}

.workExamples div:nth-child(4) p{
	padding-left: 33px;
}

.workExamples p:hover{
	opacity: 0.6;
}

footer{
	width: 1360px;
	text-align: center;
	margin-top: 110px;
}

footer h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

footer p{
	font-size: 18px;
	line-height: 22px;
	padding-left: 9px;
}

.social{
	display: flex;
	margin-top: 55px;
	margin-left: 480px;
}

.social a{
	padding: 30px;
	transition-duration: 0.3s;
}

.social a:hover{
	opacity: 0.7;
}

footer button{
	background: black;
	border: none;
	border-radius: 20px;
	width: 180px;
	height: 42px;
	margin-top: 16px;
	margin-left: 3px;
	color: white;
	transition-duration: 0.3s;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
}

footer button:hover{
	opacity: 0.7;
}

footer a{
	display: block;
	padding-left: 5px;
	padding-top: 9px;
	color: #828282;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	transition-duration: 0.3s;
}

footer a:hover{
	color: black;
}

}