@media (min-width: 0px) and (max-width: 375px){
body{
	font-family: "Gilroy-medium";
	margin-left: auto;
	margin-right: auto;
	width: 375px;
}

header{
	margin-left: auto;
	margin-right: auto;
}

.menuHead{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 65px;
	margin-left: 312px;
	width: 30px;
	z-index: 2;
}

.menuClose{
	display: none;
	flex-wrap: wrap;
	position: absolute;
	top: 65px;
	margin-left: 320px;
	width: 30px;
	z-index: 2;
	transition-duration: 0.3;
}

.menuClose img:nth-child(2){
	transform: rotate(90deg);
	margin-top: -25px;
}

.menuHead img{
	padding: 1.5px 0;
}

.listHead{
	position: absolute;
	display: none;
	background: white;
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	flex-wrap: wrap;
	width: 375px;
	height: 760px;
	top: 0;
	list-style: none;
	border: none;
}

.listHead li{
	display: flex;
	width: 200px;
	padding: 14px 0px 0 25px;
}

.listHead li:nth-child(2){
	margin-top: -93px;
	padding: 0px 0px 0 25px;
}

.listHead li:nth-child(3){
	margin-top: -143px;
	padding: 0px 0px 0 25px;
}

.listHead li:nth-child(4){
	margin-top: -192px;
	padding: 0px 0px 0 25px;
}

.listHead li:nth-child(5){
	margin-top: -233px;
	padding: 0px 0px 0 25px;
}

.listHead li a{
	text-decoration: none;
	color: #828282;
	width: 200px;
	transition-duration: 0.3s;
}

.listHead li a:hover{
	color: black;
}


.infoBlock{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
}

.infoMe{
	padding-left: 25px;
	}

.infoMe h1{
	font-family: "Gilroy-bold";
	font-size: 47px;
	line-height: 59px;
	margin-top: 10px;
}

.infoMe p{
	font-size: 18px;
	line-height: 22px;
	margin-left: -118px;
	margin-top: 145px;
}

.infoBlock .wapHead{
	display: none;
}

.infoBlock .mobileWap{
	display: block;
	margin-left: 29px;
	margin-top: 23px;
}

main{
	text-align: center;
	width: 375px;
}


.aboutMe{
	margin-top: 90px;
	padding-top: 45px;
	margin-left: -100px;
	padding-left: 62px;
	height: 440px;
	width: 415px;
	background: #F6F6F6;
}

.aboutMe h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	padding-left: 33px;
	text-align: center;
}

.aboutMe p{
	font-size: 18px;
	line-height: 22px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding:10px 35px 20px 70px;
}

.aboutMe p:nth-child(2){
	width: 340px;
}

.aboutMe p:nth-child(3){
	width: 270px;
	padding:5px 20px 20px 50px;
}


.aboutMe p:nth-child(4){
	width: 270px;
	padding:5px 35px 26px 70px;
}

.skillBlock{
	margin-top: 76px;
}

.skillBlock h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

.skillBlock p{
	padding-top: 15px;
	font-size: 18px;
	line-height: 22px;
}

.tools{
	display: flex;
	width: 345px;
	flex-wrap: wrap;
	margin-top: 75px;
	margin-left: 35px;
}

.tools div:not(.stars){
	width: 300px;
	padding: 0px 0px 40px 0px;
}

.tools div p{
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-top: 18px;
}

.tools .stars{
	display: flex;
	width: 150px;
	margin: 0;
	margin-left: 65px;
	margin-top: 0px;
}

.tools .stars img{
	padding: 7px;
}

.tools div:nth-child(2):not(.stars){
	padding: 35px 0px 43px 3px;
}

.tools div:nth-child(2) .stars{
	margin-left: 62px;
}

.tools div:nth-child(3):not(.stars){
	padding: 35px 0px 43px 3px;
}

.tools div:nth-child(3) .stars{
	margin-left: 63px;
}

.tools div:nth-child(4):not(.stars){
	padding: 37px 0px 0px 3px;
	margin-left: 0;
}

.tools div:nth-child(4) .stars{
	margin-left: 62px;
}


.workExamples{
	margin-top: 95px;
	width: 425px;
	height: 1120px;
	margin-left: -50px;
	background: #f6f6f6;
	text-align: center;
}

.workExamples img{
	width: 316px;
	height: 171px;
}

.workExamples div{
	padding-top: 50px;
	margin-left: 48px;
}

.workExamples h1{
	padding-top: 75px;
	margin-left: 48px;
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

.workExamples p{
	padding: 20px;
	padding-top: 7px;
	padding-left: 22px;
	padding-bottom: 40px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	transition-duration: 0.3s;
}

.workExamples div:nth-child(3) img, .workExamples div:nth-child(4) img{
	height: 176px;
}

.workExamples div:nth-child(3){
	padding-top: 23px;

}

.workExamples div:nth-child(3) p{
	padding-left: 23px;
	padding-top: 10px;
}

.workExamples div:nth-child(4){
	padding-top: 23px;
	margin-left: 48px;
}

.workExamples div:nth-child(4) p{
	padding-left: 20px;
	padding-top: 10px;
}

.workExamples p:hover{
	opacity: 0.6;
}

footer{
	width: 375px;
	text-align: center;
	margin-top: 75px;
}

footer h1{
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
}

footer p{
	font-size: 18px;
	line-height: 22px;
	margin-left: -3px;
	padding-top: 8px;
	padding-left: 0px;
}

.social{
	display: flex;
	margin-top: 21px;
	margin-left: 2px;
}

.social a{
	padding: 26px;
	transition-duration: 0.3s;
}

.social a:hover{
	opacity: 0.7;
}

footer button{
	background: black;
	border: none;
	border-radius: 20px;
	width: 316px;
	height: 42px;
	padding-bottom: 5px;
	margin-top: 25px;
	margin-left: 0px;
	color: white;
	transition-duration: 0.3s;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
}

footer button:hover{
	opacity: 0.7;
}

footer a.requestFot{
	display: block;
	color: #828282;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	margin-top: 16px;
	margin-left: -1px;
	transition-duration: 0.3s;
}

footer a:hover{
	color: black;
}

}